@charset "UTF-8";

.background {
  --background: #b4242c;
}

.close {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ffffff;
}

.content {
  position: absolute;
  bottom: 40px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}