@charset "UTF-8";

.background {
  --background: #b4242c;
}

.close {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ffffff;
}

.playchat2 {
  position: absolute;
  top: 20px;
  z-index: 1;
  left: 0;
  width: 50%;
  left: 25%;
  height: auto;
}

.icon {
  margin: -2px 5px -2px -2px;
}

.content {
  position: absolute;
  bottom: 40px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}